@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
  font-family: 'Dongle', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pageContainer {
  display: flex;
  min-height: 100vh;
  background-color: #f4f4f4;
  flex-direction: column; /* Para centralizar e distribuir o conteúdo */
}

/* Sidebar do Ponto */
.container {
  width: 300px;
  background-color: #222;
  color: #fff;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  box-shadow: 4px 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 0 10px 10px 0;
}

.nav {
  margin-top: 30px;
}

.list {
  list-style: none;
  padding: 0;
}

.item a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  font-size: 40px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  border-radius: 10px;
  margin: 10px 0;
}

.item a:hover {
  background-color: #444;
  color: #fff;
  transform: translateX(15px);
}

/* Relógio e Botão Sair */
.clockContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.clock {
  font-size: 2rem;
  color: #00ff00;
  font-weight: bold;
  text-align: center;
  margin-right: 20px; /* Espaçamento entre o relógio e o botão sair */
}

.logoutButton {
  background-color: #ff4b4b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.logoutButton:hover {
  background-color: #e63939;
  transform: translateY(-2px);
}

/* Conteúdo Principal */
.mainContent {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  color: #ba1ac0;
   /* Adicionando espaço para a sidebar */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.title {
  font-size: 140px;
  font-weight: bold;
  color: #333;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

/* Calendário */
.calendarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.carouselButton {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}

.monthTitle {
  font-size: 1.5rem;
  color: #333;
  margin: 0 10px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.day {
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}

.day:hover {
  background-color: #e0e0e0;
}

.today {
  background-color: #4caf50;
  color: #fff;
}

/* Botão Bater Ponto */
.batidaDePontoButton {
  background-color: #23e22a; 
  color: white;
  padding: 15px 30px;
  font-size: 36px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: -20000px; 
  margin-left: 200px;
}

.batidaDePontoButton:hover {
  background-color: #8600b3;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.batidaDePontoButton:active {
  background-color: #003f7f;
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Divisão Lado a Lado */
.content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.timeRecordsContainer {
  flex: 1;
  margin-right: 20px;
}

.summaryContainer {
  flex: 1;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  background: linear-gradient(135deg, #fafafa, #fff);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 20px 30px;
  text-align: center;
  font-size: 30px;
  border: 1px solid #ddd;
  background-color: #fff;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

td button {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  transition: transform 0.3s, background-color 0.3s;
}

td button:hover {
  transform: translateY(-2px);
}

.suggestButton {
  background-color: #ffc107;
  color: white;
  padding: 12px 25px;
  font-size: 22px;
  border-radius: 8px;
  transition: transform 0.3s, background-color 0.3s;
}

.suggestButton:hover {
  background-color: #ffeb3b;
  transform: translateY(-3px);
}

/* Caixa de Alerta */
.alert {
  background-color: #ffebeb;
  color: #333;
  padding: 20px;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
}

/* Caixa de Localização e Total de Horas */
.totalHoursBox {
  background-color: #4caf50;
  color: white;
  padding: 20px 30px;
  text-align: center;
  font-size: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.greenText {
  color: #00FF00;
}

.map {
  margin-top: 20px;
  width: 100%;
  height: 200px;
}

/* Hero Image */
.heroContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.heroImage {
  width: 10;
  max-width: 90px;
  height: auto;
  position: absolute;
  bottom: -50px;
  right: 0; /* Adiciona esta linha para garantir que a imagem fique à direita */
  border-radius: 10px;
  margin-right: 20px; /* Adiciona espaçamento da borda direita */
}

